CREATE OR ALTER VIEW [datamodel].[uvwSettlements]
AS

SELECT
	s.SettlementId,
	s.SettlementDate,
	s.IsCompleted,
	f.CalculatedValue,
	f.TransactionReportingId,
	t.MerchantReportingId,
	m.Name as MerchantName,
	cptf.Description as FeeDescription,
	CASE t.OperatorIdentifier
		WHEN 'Voucher' THEN REPLACE(c.Description, ' Contract', '')
		ELSE COALESCE(t.OperatorIdentifier, '')
	END as OperatorIdentifier,
	CAST(ISNULL(tar.Amount,0) as decimal) as Amount,
	f.IsSettled,
	c.OperatorId
from settlement s 
inner join merchantsettlementfee f on s.SettlementReportingId = f.SettlementReportingId
inner join [transaction] t on t.TransactionReportingId = f.TransactionReportingId
inner join [merchant] m on t.MerchantReportingId = m.MerchantReportingId
left outer join contractproducttransactionfee cptf on f.TransactionFeeReportingId = cptf.TransactionFeeReportingId
left outer join transactionadditionalrequestdata tar on tar.TransactionReportingId = t.TransactionReportingId
inner join contract c on c.ContractReportingId = t.ContractReportingId
